.header {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  max-width: 900px;
  margin: auto;
  margin-top: 20px;
}

.navigation {
  display: flex;
  gap: 20px;
  list-style: none;
}
