.primaryButton {
  padding: 10px 15px;

  border: none;
  border-radius: 10px;

  background-color: #438a78;
  color: white;

  font-size: 1.2rem;
  font-weight: 600;

  cursor: pointer;

  &:hover {
    background-color: #438a78b3;
  }
}
