.formSection {
  position: relative;

  border: 1px solid var(--blue-bayoux-600);
  border-radius: 20px;

  width: 100%;
  max-width: fit-content;

  margin: 40px auto;

  padding: 20px 40px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formTitle {
  position: relative;
  display: flex;
  justify-content: center;

  a {
    position: absolute;
    left: 0px;

    border-radius: 50%;
    padding: 8px;
    display: flex;
    align-self: center;
    justify-content: center;
  }

  a:hover {
    background-color: #ffffff20;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;

  column-gap: 25px;
}

.footerForm {
  display: flex;
  justify-content: flex-end;

  grid-column-start: 2;
  height: fit-content;
}
