.textButton {
  padding: 10px 15px;

  border: solid 1px var(--blue-bayoux-500);
  border-radius: 10px;

  background-color: transparent;
  color: var(--blue-bayoux-100);

  font-size: 1rem;

  cursor: pointer;

  &:hover {
    border-color: var(--blue-bayoux-400);
    background-color: #ffffff06;
  }

  &:active {
    border-color: var(--blue-bayoux-400);
    background-color: #ffffff0c;
  }

  &:disabled {
    cursor: auto;
    color: var(--text-primary-disabled);

    &:hover {
      background-color: transparent;
    }
  }
}
