:root {
  --blue-bayoux-50: #f2f8f9;
  --blue-bayoux-100: #deeaef;
  --blue-bayoux-200: #c1d8e0;
  --blue-bayoux-300: #96bbca;
  --blue-bayoux-400: #6496ac;
  --blue-bayoux-500: #487a92;
  --blue-bayoux-600: #436c84;
  --blue-bayoux-700: #385466;
  --blue-bayoux-800: #344856;
  --blue-bayoux-900: #2f3e4a;
  --blue-bayoux-950: #1b2731;

  --background-color: #141d25;

  --primary-color: #96bbca;
  --text-primary-color: #f2f8f9;

  --btn-primary: #6496ac;
}
