.detailContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  padding: 20px 40px;
  margin-top: 50px;

  border-radius: 10px;

  background-image: linear-gradient(
    166deg,
    var(--blue-bayoux-300) 0%,
    var(--blue-bayoux-400) 30%,
    var(--blue-bayoux-700) 100%
  );

  h3 {
    width: fit-content;
    margin: 0;
    color: var(--blue-bayoux-900);
  }

  p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 0.9em;
    text-align: start;
    text-wrap: balance;
  }

  audio {
    align-self: center;

    &::-webkit-media-controls-panel {
      background-color: var(--blue-bayoux-800);
    }
  }
}
