.container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

// HEADER

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 25px;
}

.headerButton {
  padding: 8px 15px;
  border-radius: 10px;
  border: 1px solid #f1f0f0;
  background: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  margin-bottom: 9px;
}

.checkContainer {
  padding: 6px 10px;
  input {
    margin-left: 10px;
  }
}

// CONVERSATION

.dialogContainer {
  display: flex;
  flex-direction: column;
  align-items: start;

  height: 100%;
  overflow-y: auto;

  padding: 10px 15px;

  background-color: var(--blue-bayoux-950);
  border: 1px solid var(--blue-bayoux-600);
  border-radius: 10px;

  margin-bottom: 10px;

  div {
    animation: fadeIn 0.05s ease-in-out forwards;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bubble {
  border-radius: 10px;
  padding: 10px;

  width: 60%;

  margin-bottom: 10px;

  color: black;
  text-align: left;
}

.bubbleLeft {
  border: 2px solid var(--blue-bayoux-600);
  background-color: var(--blue-bayoux-50);

  border-bottom-left-radius: initial;
}

.bubbleRight {
  border: 2px solid var(--mulled-wine-800);
  background-color: var(--mulled-wine-50);

  align-self: flex-end;
  border-bottom-right-radius: initial;
}

.markdownStyle {
  font-size: 0.85em;
}

.bubbleUser {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 800;

  small {
    margin-left: 5px;
    font-weight: 500;
  }
}

.bubbleMessage {
  margin: 0;
  font-size: 0.85em;
}

// MESSAGE INPUT

.formContainer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}

.messageInput {
  width: 100%;

  flex-grow: 1;

  border-radius: 5px;
  background-color: var(--blue-bayoux-950);
  border: 1px solid var(--blue-bayoux-600);

  padding: 10px;

  &:focus {
    outline: none;
    background-color: var(--blue-bayoux-900);
  }
}
