.profileButton {
  padding: 10px 20px;

  cursor: pointer;

  &:hover,
  :active,
  :focus {
    background-color: #ffffff22;
  }
}

.profileContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;

  column-gap: 30px;
}

.logoutButton {
  grid-column: 1 / -1;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
