.textButton {
  display: inline-flex;

  padding: 7px;

  border: none;
  border-radius: 50%;

  background-color: transparent;

  color: #052801;
  font-size: 1.2rem;
  font-weight: 600;

  cursor: pointer;

  &:hover {
    background-color: #13462328;
  }
}
