.formPhrase {
  width: 100%;
}

.labeledValue {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;

  label {
    font-size: 0.95rem;
    font-weight: 500;
  }

  input,
  textarea {
    width: 100%;
    padding: 7px;
    border-radius: 5px;

    background: var(--blue-bayoux-50);
    border: 1px solid var(--blue-bayoux-500);

    color: var(--blue-bayoux-950);

    resize: vertical;
    max-height: 250px;

    &:focus {
      outline: none;

      background: #f8fffd;
      box-shadow: 0 0 0 1px var(--blue-bayoux-600);
    }
  }
}

.buttonContainer {
  margin-top: 20px;

  display: flex;
  justify-content: flex-end;
}
