.labeldInput {
  display: flex;
  flex-direction: column;
  align-items: start;

  position: relative;

  width: 100%;

  margin-bottom: 10px;
  padding-bottom: 20px;

  &:global(.inline) {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  label {
    margin-bottom: 10px;
  }

  input,
  textarea,
  select {
    width: 100%;

    border-radius: 5px;
    background-color: var(--blue-bayoux-950);
    border: 1px solid var(--blue-bayoux-600);
    font-size: 0.9em;
    padding: 10px;

    &:global(.light) {
      background-color: var(--blue-bayoux-200);
      border: 1px solid var(--blue-bayoux-600);

      color: var(--blue-bayoux-950);
    }

    &:focus {
      outline: none;
      background-color: var(--blue-bayoux-900);
    }

    &:global(.light):focus {
      background-color: var(--blue-bayoux-100);
    }
  }

  input[type='checkbox'] {
    width: auto;
  }

  input[type='checkbox'] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    font-size: 1.1em;
    color: currentColor;
    width: 1em;
    height: 1em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
  }

  input[type='checkbox']::before {
    content: '';
    width: 1em;
    height: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--blue-bayoux-400);
  }

  input[type='checkbox']:checked::before {
    transform: scale(1);
  }

  textarea {
    resize: none;
    max-height: 250px;
  }

  small {
    position: absolute;
    bottom: 2px;

    font-size: 0.75em;
    color: var(--error-color);
  }
}
