.formSection {
  border: 1px solid var(--blue-bayoux-600);
  border-radius: 20px;

  width: 90vw;
  max-width: 450px;

  margin: 40px auto;

  padding: 20px 40px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footerForm {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 10px 0;
  margin-bottom: 20px;
}
